.pp {
  padding: 20px;
}
p {
  font-size: 18px;
}
h2 {
  font-size: 25px;
  color: var(--pc);
}
.bbk {
  font-weight: bold;
  font-style: italic;
}
.blue {
  color: var(--pc);
  font-weight: bold;
}
.underlined {
  text-decoration: underline var(--drkblue);
}
.policy {
  color: var(--pc);
}

.welcome1 {
  font-size: 30px;
  color: var(--gray);
}

.welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-left: 50px;
  padding-right: 50px;
  justify-self: center;
  margin-bottom: 30px;
  border-color: white;
  border: 20px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #f8f9fa;
}
.minimenu {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.mini-item {
  color: var(--gray);
  background-color: #fff;
  border: 1.5px solid #050959;
  padding: 3px 5px;
  text-align: center;
  max-width: 100px;
  flex-grow: 1;
  margin-bottom: 5px;
}
.easy:hover {
  background-color: rgb(0, 206, 69);
}
.medium:hover {
  background-color: rgb(255, 140, 0);
}
.hard:hover {
  background-color: rgb(253, 4, 4);
}
.minitext {
  font-size: 10px;
}
.imgse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
/*home section*/
.home-section {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
}

h3 {
  text-align: center;
}
.the {
  position: relative;
  top: 100px;
}

figure {
  display: inline-block;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

figcaption {
  display: inline-block;
  text-align: center;
}

body {
  line-height: 1.5;
}
body.hidden-scrolling {
  overflow-y: hidden;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: auto;
}

.fff {
  height: 40px;
}
