img{
    position: relative;
    left: 33%;
}

h1 {
    text-align: center;
}

.Cap1 {
    border: solid 2px rgb(14, 189, 151);
    background-color: rgb(152, 252, 219);
    padding: 5px;
    border-radius: 10px;
}

.EqSy{
    display:flex;
    flex-direction: row;
}

.Immagine {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 33%;
}

.Cap2 {
    border: solid 2px rgb(15,66,5);
    background-color:rgb(58, 133, 35);
    padding: 5px;
    border-radius: 10px;
}
