.blacklogo {
    height: 50px;
    display: inline;
    margin-top: 12px;
    margin-left: 10px;

}
ul {
    padding-inline-start: 0;
}
.dark-welcome {
    display: inline;
    font-size: 40px;
}
.dark-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.main {
    background-color: #222222;
    height: fit-content;
    border-bottom: solid 1px white;
    display: grid;
    grid-template-columns: auto auto;
}
.vantaggi {
    height: 50px;
    display: inline-flex;
}
.description {
    display: inline-flex;
    bottom: 20px;
    margin-left: 10px;
    padding-top: 16px;
} 
.v2 {
    height: 35px;
    margin-left: 7px;
}
.v4 {
    height: 40px;
    border-radius: 8px;
    margin-left: 5px;
}
.d4 {
    padding-top: 7px;
    margin-left: 17px;  
}
.d2 {
 padding-top: 7px;
 margin-left: 17px;
}
.v3 {
    height: 35px;
    margin-left: 10px;
}
.d3, .d5{
    padding-top: 5px;
 margin-left: 15px;
}
li {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.intro {
    color: white;
    padding-top: 40px;
    padding-left: 50px;
    margin-bottom: 40px;
    padding-right: 50px;
}
.button-text {
    font-size: 22px;
}
#bottone1 {
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #ffffff;
    border: none;
    width: 200px;
    margin-bottom: 60px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;

   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #d4d4d4;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #d4d4d4;
   }
@media (max-width: 991px) {
.dark-welcome{
    font-size: 25px;
    color: black;
}
.main {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.blacklogo {
    height: 30px;
    margin-top: 7px;
}
.intro {
    font-size: 15px;
}
.text1 {
    margin-bottom: 0;
}
#bottone1 {
    width: 50%;
}
}
@media (max-width: 450px) {
    .d2, .d4 {
        padding-top: 0;
       }
}
@media (max-width: 450px) {
    .d2, .d4, .description {
        padding-top: 0;
       }
       .d5 {
        padding-top: 5px;
       }
}