ul {
    list-style-type: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(5, 55, 66);
    border-radius: 10px;
    width: fit-content;

    
}
li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(232, 240, 242);
    font-family: bold;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
  }
  .passive:hover {
    background-color: rgb(25, 25, 25);
  }
  .active {
    background-color: rgb(57, 162, 219);
  }
  html {
    font-family: normal;
    background-color: rgb(232, 240, 242);

}


.element{
    color: rgb(233, 10, 10);
}
h3 {
  font-family: bold;
  color: rgb(5, 55, 66);
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0;
}
p {
   color: black;
   text-align: center;
   width: fit-content;
   max-width: 400px;
   padding: 14px;
   padding-top: 0;
   
  margin-top: 0;
   

}
.mail {
  
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px;
  border-radius: 10px;
  text-align: center;

}
.mail1 {
  font-family: bold;
  color: rgb(57, 162, 219);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-decoration: none;
 
}

@font-face { font-family: normal; src: url('Josefin_sans/JosefinSans-VariableFont_wght.ttf'); }
@font-face { font-family: bold; src: url('Josefin_sans/static/JosefinSans-Bold.ttf'); } 
