@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  
html {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 255);

}




.element{
    color: rgb(233, 10, 10);
}
.mailll{
  font-size: 25px;
}
h3 {
  
  color: black;
  
  font-family: bold;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0;
}
.mail.text {
   color: #1e76e9;

   text-align: center;
   width: fit-content;
   max-width: 400px;
   padding: 14px;
   padding-top: 0;
   
  margin-top: 0;
   

}
.mail {
  
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F9FA;
  padding-left: 50px;
	 padding-right: 50px;
   padding-top: 20px;
	 padding-bottom: 20px;
   border-radius: 5px;
  text-align: center;

}
.mail1 {
  
  color: rgb(250, 63, 63);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-decoration: none;
 
}
.the {
  position: relative;
  top: 200px;
  font-family: 'Montserrat', sans-serif;
  }
body{
	line-height: 1.5;
}
body.hidden-scrolling{
	overflow-y: hidden;
}

.container{
	max-width: 1100px;
	margin:auto;
}
