.element {
  color: rgb(233, 10, 10);
}
.mailll {
  font-size: 25px;
}
.homepage {
  margin-top: 100px;
}
.avatar {
  max-width: 150px;
  flex-grow: 1;
  width: 100%;
  transition: 1s;
  border-radius: 200px;
}
.avatar:hover {
  max-width: 160px;
  transition: 1s;
}
.team-member {
  flex-grow: 1;
  text-align: center;
  width: 100%;
}
.team {
  display: flex;
  justify-content: center;
  column-gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.role {
  position: absolute;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 55px;
  transition: 0.4s;
  transition-delay: 0.2s;
}
h3 {
  color: var(--drkblue);
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0;
}
.mail.text {
  color: var(--pc);
  text-align: center;
  width: fit-content;
  max-width: 400px;
  padding: 14px;
  padding-top: 0;
  margin-top: 0;
}

.mail {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}
.mail1 {
  color: rgb(250, 63, 63);
  text-align: center;
  padding-bottom: 5px;
  text-decoration: none;
}

h2 {
  color: var(--gray);
  font-size: 30px;
  margin-left: 10px;
  margin: 0 20px 30px 0px;
  width: fit-content;
  border-bottom: 1.5px solid var(--drkblue);
}

body {
  line-height: 1.5;
  top: 230px;
}
.container2 {
  max-width: 1100px;
  margin: auto;
}
.card {
  width: 200px;
  height: 220px;
  color: #fff;
  font-family: inherit;
  z-index: 1;
  margin-bottom: 30px;
  background-image: url("images/wave.png");
}
.background {
  border-radius: 5px;
  border: solid 1.5px var(--drkblue);
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: -1;
  text-align: start;
}
.img {
  display: flex;
  margin: 20px auto 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: var(--drkblue);
}

.description {
  opacity: 0%;
  display: inline-block;
  height: 25px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
#avatarinsta {
  padding-right: 15px;
  cursor: pointer;
}
#avatartwitter {
  padding-right: 8px;
  cursor: pointer;
}

.heading {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

svg {
  padding: 0 5px;
  cursor: pointer;
}

.card:hover .img {
  transform: scale(1.1);
  border: 1px solid #f0f0f0;
}
.card:hover .description {
  opacity: 100%;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.card:hover .role {
  opacity: 0%;
  transition: 0.4s;
}

@media (max-width: 650px) {
  .description {
    opacity: 100%;
    transition: 0.5s;
    transition-delay: 0.2s;
  }
  .role {
    opacity: 0%;
    transition: 0.4s;
  }
}
