@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');
/* General */
:root{
	--pc: #1e76e9;
	--blk: black; 
	--gray: #222222;
	--white: #fff;

}
.darktheme{
	--pc: #1e76e9;
	--blk: #fff; 
	--gray: #222222;
	--white: black;
	
}
body{
	background-color: var(--white);
}

 
html {
	background-color: var(--white);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body.hidden-scrolling {
	overflow-y: hidden;
}
