@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap");
/* General */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --pc: #1e76e9;
  --blk: black;
  --gray: #222222;
  --white: #fff;
  --drkblue: #050959;
}

.darktheme {
  --pc: #1e76e9;
  --blk: #fff;
  --gray: #222222;
  --white: rgb(47, 47, 47);
  --white1: #222222;
  --drkblue: #fff;
}

.hidden {
  opacity: 0%;
  position: absolute;
  z-index: -10;
}
.divider {
  border-color: var(--drkblue);
  margin: 0px 20px 30px 20px;
  max-width: 1350px;
  border-top: 0.5px solid var(--drkblue);
}
.invisible {
  opacity: 0%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 170%;
  background-color: rgba(172, 172, 172, 0.4);
}

body {
  background-color: var(--white1);
  color: var(--blk);
}
img {
  user-select: none;
}

html {
  background-color: var(--white);
}

body.hidden-scrolling {
  overflow-y: hidden;
  overflow-x: hidden;
}
.home {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.mini-divider {
  border-color: var(--drkblue);
  margin: 0 20px 30px 0px;
  max-width: 200px;
  border-top: 0.5px solid var(--drkblue);
}

@media (max-width: 760px) {
  .home {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 560px) {
  .home {
    padding-left: 25px;
    padding-right: 25px;
  }
}
