@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');
/* General */
:root{
	--pc: #1e76e9;

}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body.hidden-scrolling {
	overflow-y: hidden;
}
