#form_container {
  max-width: 400px;
  height: 480px;
  background-color: white;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  width: 100%;
}

#form_header_container {
  max-width: 400px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  background: var(--gray);
  font-size: 15px;
  text-transform: uppercase;
  color: var(--white);
}

#form_content_container {
  width: 100%;
  height: 100%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: var(--white);
  color: var(--gray);
  font-size: 12px;
  border-radius: 5px;
}

#button_container {
  width: 100%;
  height: 10%;
  background-color: var(--pc);
  color: #fff;
  float: left;
  margin-top: 5px;
}

#button_container button {
  width: 50%;
  height: 100%;
  color: #fff;
  float: left;
  background: var(--pc);
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section {
  margin-top: 120px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  transition: all 0.3s;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #47da99;
  animation: pop 0.5s;
  animation-direction: alternate;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
