#form_container {
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  background: var(--gray);
  font-size: 15px;
  text-transform: uppercase;
  color: var(--white);
}

#form_content_container {
  width: 100%;
  height: 100%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;

  float: left;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: var(--white);
  color: var(--gray);
  font-size: 12px;
  border-radius: 5px;
}

#button_container {
  width: 100%;
  height: 10%;
  background-color: var(--pc);
  color: #fff;
  float: left;
  margin-top: 5px;
}

#button_container button {
  width: 50%;
  height: 100%;
  color: #fff;
  float: left;
  background: var(--pc);
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
