body{
	line-height: 1.5;
}

.the {
	position: relative;
	top: 100px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}

.container{
	max-width: 1100px;
	margin:auto;
}
.p2{
	padding-top: 7px;
	color: var(--gray);

}
.welcome1{
	font-size: 30px;

}
.container1 {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px 50px;
	
	

}
.item1{
	border: 4px solid;
	border-color: var(--pc);
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	width: 300px;
	height: 70px;
}

.welcome {
     
	text-align: center;
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 1040px;
	 padding-left: 50px;
	 padding-right: 50px;
	 justify-self: center;
	 margin-bottom: 30px;
	 border-color: white;
	 border: 20px solid white;
	 padding-top: 20px;
	 padding-bottom: 20px;
	 border-radius: 5px;
	 background-color: #F8F9FA;

}
.imglogo1{
     height: 150px;

}
.btn{
	
		background-color: c;
		border: none;
		color: white;
		padding: 16px 32px;
		text-align: center;
		font-size: 16px;
		margin: 4px 2px;
		transition: all 0.3s ease;
		border-radius: 5px;

	  }
	  
	  .btn:hover {
		background-color: #1665cc;
		color: white;
	  }

/*home section*/

.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-position: center top;
	background-size: cover;
}




@media(max-width: 991px){
    .home-section{
		width: 100%;
		display: block;
		min-height: 100vh;
		background-position: center top;
		background-size: cover;
}

	
}
