body {
  line-height: 1.5;
  padding-top: 100px;
}

/* Home-Section */

.p2 {
  font-size: 16px;
  padding-top: 12px;
  color: var(--white);
}

hr {
  margin-bottom: 30px;
}

.welcome {
  margin-bottom: 20px;
  padding: 20px 3px 20px 3px;
  text-align: center;
}
.grid-container {
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: auto auto auto auto;
}
.photo {
  width: 262px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.level {
  position: absolute;
  height: 25px;
  top: 10px;
  right: 10px;
  z-index: 0;
  display: block;
}
.level:hover {
  transition: 0.3s;
}
.blob {
  height: 110px;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.grid-element:hover .blob {
  height: 0px;
  transition: 0.5s;
}
.photodiv {
  display: block;
  width: 100%;
}

.text {
  height: 47px;
  background-color: var(--gray);
  position: relative;
}

.grid-element {
  color: var(--gray);
  background-color: var(--gray);
  border: 1.5px solid var(--drkblue);
  text-align: center;
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s;
  height: 200px;
  z-index: 5;
}

.grid-element:hover {
  box-shadow: -8px 8px var(--pc);
  transform: translate(4px, -4px);
}
.esercizi-container {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
}
.es-item {
  color: var(--gray);
  background-color: transparent;
  border: 2px solid var(--drkblue);
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s;
  z-index: 5;
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
  border-radius: 100px;
  text-align: end;
  display: flex;
  width: fit-content;
}
.es-text {
  font-weight: bold;
  padding-right: 10px;
  margin-right: 10px;
}
.es-item:hover {
  border-color: var(--pc);
  transition: 0.1s;
}
.es-level {
  height: 25px;
  z-index: 0;
  margin-left: 8px;
  margin-top: 1.3px;
  margin-right: 5px;
}

/* Start Responsive */
@media (max-width: 1250px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  .welcome-title {
    font-size: 26px;
    margin-bottom: 0;
  }

  .welcome-description {
    font-size: 17px;
  }
}

@media (max-width: 865px) {
  .home {
    padding-left: 26px;
    padding-right: 26px;
  }

  .grid-container {
    row-gap: 20px;
    column-gap: 30px;
  }

  .welcome {
    flex-direction: column-reverse;
    text-align: center;
  }

  .right-side {
    width: 540px;
  }

  .welcome-description {
    max-width: none;
  }

  .left-side {
    width: 400px;
    margin-bottom: 10px;
  }
}

@media (max-width: 745px) {
  .left-side {
    width: 350px;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .right-side {
    width: 450px;
  }

  .welcome-description {
    max-width: none;
  }
}

@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .es-item {
    width: 600px;
  }
  .es-text {
    margin-left: auto;
    margin-right: auto;
  }
  .es-level {
    position: absolute;
  }
}

@media (max-width: 600px) {
  .right-side {
    width: auto;
  }
}

@media (max-width: 450px) {
  .left-side {
    width: 320px;
  }
}
