@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* General */

body {
	line-height: 1.5;
	padding-top: 120px;
	background-color: white;
}

/* Ex General Home-Section */


.home {
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.welcome {
	margin-bottom: 60px;
	padding: 20px;
	text-align: center;
}

.welcome-title {
	font-weight: 700;
	margin-bottom: 20px;
}

.welcome-description {
	margin-bottom: 25px;
}

.button {
	background-color: #1e76e9;
	border: none;
	color: #ffffff;
	height: 35px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-size: 15px;
	font-family: Montserrat;
	cursor: pointer;
	transition: opacity 0.15s;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	opacity: 0.6;
}

.grid-container {
	display: grid;
	column-gap: 50px;
	row-gap: 50px;
	grid-template-columns: auto auto auto;
}

.grid-element {
	background-color: #fafcff;
	border: 0.7px solid #222222;
	padding: 20px;
	border-radius: 0.5%;
	text-align: center;
	cursor: pointer;
	transition: transform 0.15s, box-shadow 0.15s;
  }

  .grid-element:hover {
	box-shadow: -8px 8px #222222;
	transform: translate(4px, -4px);
}

.grid-icons {
	height: 120px;
	width: 120px;
	object-fit: cover;
	margin-bottom: 20px;
	margin-top: 10px;
}

.grid-title {
	font-weight: 800;
}


/*Start Responsive*/

@media(max-width: 991px){

    .grid-container {
		grid-template-columns: auto auto;

	}
}

@media (max-width:670px){
	.grid-container {
		grid-template-columns: auto;
	}
}


/*End Responsive*/

