h1 {
    text-align: center;
    color: rgb(5, 55, 66);
    font-family: bold; 
}

p {
    text-align: center;
}

.link{
    border: solid black 2px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
html {
    font-family: normal;
    background-color: rgb(232, 240, 242);

}


.element{
    color: rgb(233, 10, 10);
}


@font-face { font-family: normal; src: url('Josefin_sans/JosefinSans-VariableFont_wght.ttf'); }
@font-face { font-family: bold; src: url('Josefin_sans/static/JosefinSans-Bold.ttf'); } 
